body {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: deepskyblue;
}

.nav-link {
    text-transform: uppercase;
    color: white;
    font-size: 13px;
}

.filter_forms {
    display: flex;
    justify-content:space-around;
    margin-bottom: 70px;
}

.filter_forms form input,select {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
}

.filter_forms form p {
    height: 35px;
}

.btn {
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(114, 106, 223);
}

.header_find {
    color: rgb(28, 96, 119);
}

h1 {
    text-transform: uppercase;
    color: deepskyblue;
    font-size: 48px;
    position: absolute;
    bottom: 100px;
    left: 10%;
    right: 10%;
}

.slider_text {
    color: black;
}

.logo {
    height: 20px;
    width: 20px;
}

.d_block {
    height: 310px;
    width: 100%;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: deepskyblue;
}

.main_container {
    text-align: center;
    background-color: rgb(127, 255, 212);
    height: 500px;
}

.header_adress {
    padding-top: 50px;
}

.container_footer {
    background-color: dimgray;
    text-align: center;
}